#burping_effect{
    -webkit-transform: translate3d(0,0,0);
    color: #58595b;
    font-size: 14px;
}
#burping_effect .popupmenu{
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("../../content/img/burbing_effect/open_btn.png") top left no-repeat;
    left: 680px;
    top: 513px;
}
#burping_effect .numbers-box img{
    position: absolute;
    top: 0;
    pointer-events:none;
    z-index: -1;
}

#burping_effect .text-in-numberspop{
    height: 15px;
    position: absolute;
    left: 63px;
    top: 15px;
}

#burping_effect .numbers-box .back{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 649px;
    top: 77px;
}
#burping_effect .numbers-box ul li{
    position: relative;
    height: 15px;
}
#burping_effect .numbers-box ul{
    position: absolute;
    top: 35px;
    left: 60px;
    color: transparent;
}
#burping_effect .numbers-box ul li div{
    margin: 0 15px 0 0;
    height: 14px;
    width: 25px;
}

#burping_effect .efficacy-pic {
    position: absolute;
    width: 689px;
    height: 420px;
    background: url("../../content/img/burbing_effect/page7_0.png");
    pointer-events: none;
    color:#333333;
    top: 115px;
    left: 21px;
}

#efficacy_pic1{
    width: 0px;
    background-position: bottom;
    background-position: left;
    height:365px;
}

#burping_effect .efficacy-pic2{
    width: 100%;
    height: 100%;
    background: url("../../content/img/burbing_effect/page7_1.png") top left no-repeat;
    width: 0px;
    height: 356px;
    position: absolute;
    top: 118px;
    left: 80px;
    -webkit-transition: all 1.4s linear;
    -webkit-transform:translate3d(0,0,0);
}

#burping_effect .show .efficacy-pic2{
    -webkit-transition-delay: 0.8s;
    width: 689px;
}

#ul_graph {
    text-align: center;
    position: absolute;
    color: #333333;
    top: 375px;
    width: 469px;
    left: 625px;
}
#ul_graph li {
    display: block;
    width: 269px;
    padding-bottom: 10px;
    font-size: 14px;
}
#ul_graph li span {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
#burping_effect .li-lft {
    float: left;
    text-align: left;
    clear: left;
    padding-right: 15px;
    margin-left: 100px;
}
#li_rgt {
    float: right;
    text-align: left;
    clear:right;
    padding-left: 15px;
    margin-right: 100px;
}
#burping_effect .placebo-legend { 
    background:#2ca0da; 
}
#burping_effect .tap-legend { 
    background:#c0c930; 
}
#burping_effect .comp-legend { 
    background:#77787b; 
}

#burping_effect .sub-header{
    margin-left: 54px;
}
#burping_effect .arrow-left{
    position: absolute;
    top: 149px;
    left: 719px;
    width: 260px;
}

#burping_effect .numbers-box{
    width: 703px;
    height: 149px;
    left: 30px;
    top: 448px;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    -webkit-transition-duration: 0.5s;
    -webkit-transform: translate3d(0,0,0);
}
#burping_effect .numbers-box.active{
    opacity: 1;
    pointer-events: auto;
}

#burping_effect .y-text{
    font-size:20px;
    position:absolute;
    left: -45px;
    top: 159px;
}
#burping_effect .text-to-4{
    position: absolute;
    top: 375px;
    left: 112px;
    width: 60px;
    text-align: center;
}
#burping_effect .text-to-15{
    position:absolute;
    top:375px;
    left:392px;
    width: 100px;
    text-align: center;    
}
#burping_effect .x-text{
    font-size:20px;
    position:absolute;
    top:410px;
    width:100%;
    text-align:center; 
    margin-left: 28px;
}

#burping_effect .text-in-numberspop{
    position:absolute;
    margin-top: 80px; 
    font-weight: bold;  
    width:450px;
}

@media all and (orientation:portrait) {
    #burping_effect .sub-header{
        margin-left: 50px;
        width: 595px;
        line-height: 16px;
    }
    #burping_effect .arrow-left{
        position: absolute;
        top: 784px;
        left: 50px;
        width: 700px;
        height: 40px;
    }
    #burping_effect .efficacy-pic{
        top: 217px;
        left: 24px;
    }
    #burping_effect .numbers-box{
        left: 33px;
        top: 550px;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: 0.5s;
    }
    #burping_effect .numbers-box.active{
        opacity: 1;
        pointer-events: auto;
    }
    #burping_effect .popupmenu{
        background: url("../../content/img/burbing_effect/open_btn.png") top left no-repeat;
        left: 683px;
        top: 621px;
    }
    #ul_graph {
        left: -15px;
        top:666px;
    }
}