#calculator h1{
	margin-top: 19px;
	margin-left: 48px;
	line-height: 36px;
	letter-spacing: 0px;
	font-size: 29px;
	word-spacing: -2px;
	font-family: FrutigerBold;
}
#calculator .slider{
	position: relative;
	width: 359px;
	height: 42px;
	background: url("../../content/img/calculator/slider_line.png") left center no-repeat;
	margin-bottom: 38px;
	z-index: 1;
}
#calculator .slider div{
	position: relative;
	width: 20px;
	height: 42px;
	border-radius: 2px;
	background: #B4D62C;
	box-shadow: 0 1px 1px 0px #888;
}
#calculator .header{
	position: relative;
	width: 100%;
	height: 163px;
	font-family: FrutigerBold;
	background: url("../../content/img/calculator/shadow.png") 0px bottom no-repeat;
}
#calculator .header ul:first-of-type{
	position: absolute;
	width: 651px;
	margin: 15px 40px;
}
#calculator .header ul:first-of-type li{
	margin-bottom: 20px;
}
#calculator .header ul:first-of-type li div{
	display: inline-block;
	background: black;
	border-radius: 4px;
	width: 207px;
	padding: 14px 0px 14px 17px;
	color: #A8D201;
	font-size: 25px;
	font-family: FrutigerBold;
}
#calculator .header ul:first-of-type li div:nth-of-type(2){
	padding: 14px 9px 14px 26px;
}
#calculator .header p{
	float: left;
	word-spacing: -2px;
	padding: 14px 0 14px 12px;
	letter-spacing: 1px;
	font-size: 24px;
	border: 1px solid #e3e3e3;
	width: 405px;
	color: #a3a3a3;
	border-radius: 4px;
}
#calculator .current-values{
	position: absolute;
	top: 28px;
	right: 99px;
	width: 200px;
	font-size: 26px;
}
#calculator .current-values li{
	margin-bottom: 10px;
	white-space: nowrap;
	color: #a3a3a3;
}
#calculator .current-values li div{
	font-family: helvetica;
	display: inline-block;
	color: #58595b;
	font-family: FrutigerBold;
}
#calculator .sliders-group{
	position: relative;
	width: 550px;
	float: left;
	padding: 31px 0 47px 50px;
}

#calculator #creatinineSlider{
	margin-bottom: 5px;
}
#calculator .aciss-x{
	position: relative;
	height: 15px;
	font-size: 15px;
	color: #a3a3a3;
	font-family: FrutigerRoman;
}
#calculator .aciss-x li{
	float: left;
	margin: 0 69px 0 0;
}
#calculator .aciss-x:nth-of-type(2) li{
	margin: 0 64px 0 0;
}
#calculator .aciss-x:nth-of-type(3) li{
	margin: 0 46px 0 0;
}
#calculator .sliders-group .legend{
	position: absolute;
	margin-top: -52px;
	pointer-events:none;
	color: #878787;
	font-family: FrutigerBold;
}
#calculator .sliders-group .legend:nth-of-type(6){
	margin-top: -20px;
}
#calculator .check-area{
	position: relative;
	width: 280px;
	float: left;
	margin: 35px 0 0 124px;
	color: #a3a3a3;
}
#calculator .check-area li{
	font-family: FrutigerBold;
	margin-bottom: 30px;
	color: #878787;
}
#calculator .check-area li:nth-of-type(1) label{
	font-family: FrutigerRoman;
	margin-right: 69px;
}
#calculator .check-area li:nth-of-type(2) label{
	margin-right: 69px;
}
#calculator label{
	font-size: 14px;
	margin-right: 35px;
	font-family: FrutigerRoman;
}
#calculator input{
	border: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 0;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-ms-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}
#calculator .check-area li input{
	margin: 2px 5px 5px 0px;
	padding: 10px;
	border: 1px solid #E8E8E8;
	background: none;
	box-shadow: inset 2px 2px 2px 0px #999;
	box-shadow: inset 2px 2px 2px 0px #999;
}
#calculator .check-area li input[checked="available"]{
	background: url("../../content/img/calculator/checked.png") center center no-repeat;
}
#calculator .check-area li:nth-of-type(3) input{
	margin: 7px 7px 7px 0px;
}
#calculator #cupcakes{
	margin-left: 9px;
}
#calculator #flamenco{
	margin-left: -8px;
}
#calculator #toothPaste{
	margin-left: -8px;
}
.people{
	position: relative;
	height: 89px;
	padding: 0;
}
.people input{
	position: relative;
	float: left;
	width: 60px;
	height: 89px;
	margin: 0 7px 0 0;
	border: none;
	background: url("../../content/img/calculator/gray_sprite.png") 8px 0px no-repeat;
}
.people input[checked="available"]{
	border: none;
	background: url("../../content/img/calculator/green_sprite.png") 8px 0px no-repeat;
}
.people input:nth-of-type(7){
	margin: 0 7px 0 15px;
}
.people input:nth-of-type(8){
	margin: 0 0 0 5px;
}
#knittingGrandma{
	background-position: -59px 0px;
}
#knittingGrandma:checked{
	background-position: -59px 0px;
}
#sittingGrandma{
	background-position: -126px 0px;
}
#sittingGrandma:checked{
	background-position: -126px 0px;
}
#manWithDog{
	background-position: -193px 0px;
}
#manWithDog:checked{
	background-position: -193px 0px;
}
#walkerManStick{
	background-position: -260px 0px;
}
#walkerManStick:checked{
	background-position: -260px 0px;
}
#manStick{
	background-position: -327px 0px;
}
#manStick:checked{
	background-position: -327px 0px;
}
#grandmaInWheelchair{
	background-position: -409px 0px;
}
#grandmaInWheelchair:checked{
	background-position: -409px 0px;
}
#walkerGrandma{
	background-position: -481px 0px;
}
#walkerGrandma:checked{
	background-position: -481px 0px;
}
@media all and (orientation:portrait) {
	#calculator .current-values{
		top: 308px;
	}
	#calculator .check-area li{
		float: left;
		width: 280px;
	}
	#calculator .check-area{
		margin-top: 0px;
		width: 100%;
	}
}