#convenience ul li{
    font-size: 18px;
    padding-bottom: 33px;
    line-height: 21px;
    padding-left:15px;
}

#convenience h1{
    font-size: 30px;
}

#convenience h1 strong{
    color: #269dd9;
}
#convenience div.ul-wrap {
    position: absolute;
    top: 154px;
    left: 39px;
    width: 350px;
    color: #787878;
}
#convenience .bigblue {
    color: #3ea4d8;
    font-size: 20px;
    font-weight:bold;
}

#man{
    position: absolute;
    top: 20px;
    right: 35px;
    width: 500px;
    height: 643px; 
    overflow:hidden;
}
#man .wrap{
    position: relative;
    width:500px; 
    height:915px;
    -webkit-transform: translate3d(0,0,0); 
}
#man .backend{ 
    position:absolute; 
    left:8px; 
    bottom:0px; 
    background:url("../../content/img/tolerability/man-frontend.png") no-repeat bottom left; 
    height:911px; 
    width:500px;
}
#man .frontend{ 
    position:absolute; 
    left:9px; 
    top:4px;
    background:url("../../content/img/tolerability/man-backend.png") no-repeat top left; 
    height:911px; 
    width:500px;
}

#undressHandle {
    /*border:1px solid #000;*/
    position: absolute;
    width:100px;
    height:120px;
    left: 195px;
    top:5px
}
@media all and (orientation:portrait) {
    #man{
        position: absolute;
        top: 63px;
        right: -93px;
        width: 500px;
        height: 856px;
    }
    #convenience div.ul-wrap{
        left:42px;
        top:200px;
    }
    #convenience h1{
        font-size: 29px;
    }
}