.thumb-indicators {
    position:absolute;
    bottom:20px;
}
#mainmenu {
    height:50px;
}
.menu {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:box;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -ms-box-orient:horizontal;
    box-orient:horizontal;
    overflow:hidden;
    background: url("../../content/img/menu/background.png");
    white-space: nowrap;
    font-size: 19px;
    width:10000px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.menu li {
    border-right: solid 1px #7a9cc9;
    color:#ffffff;
    height:20px;
    text-align:center;
    display:block;
    pointer-events:auto;
    padding: 15px 30px;
}
.menu.vert-menu {
    display: block;
    width:33%;
}
.menu.vert-menu li {
}
.menu .selected {
    color: #5B7F8D;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0.2, #fbf9f9),color-stop(1.0, #b3b3b3));
    background: -ms-linear-gradient(top, rgba(251,249,249,1) 20%,rgba(179,179,179,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(251,249,249,1) 20%,rgba(179,179,179,1) 100%);
}
.menu .home {
    width: 60px;
    height: 50px;
    padding: 0px;
    background: url(../../content/img/menu/home-button.png) no-repeat center center;
}
.menu .home.selected {
    background: url(../../content/img/menu/home-button-active.png) no-repeat center center, #58595B;
}

.menu .efficacy-btn{
    background: url(../../content/img/menu/home-button.png) no-repeat center center;
}
.menu .safety-btn{
    background: url(../../content/img/menu/home-button.png) no-repeat center center;
}
.menu .patientprofile-btn{
    background: url(../../content/img/menu/home-button.png) no-repeat center center;
}
.menu .moa-btn{
    background: url(../../content/img/menu/home-button.png) no-repeat center center;
}
.menu .fasttrack-btn{
    background: url(../../content/img/menu/home-button.png) no-repeat center center;
}
.menu .buildtrack-btn{
    background: url(../../content/img/menu/build.png) no-repeat center center;
}
.menu .savedtracks-btn{
    background: url(../../content/img/menu/home-button.png) no-repeat center center;
}
.menu .services-btn{
    background: url(../../content/img/menu/home-button.png) no-repeat center center;
}
.menu .references-btn{
    background: url(../../content/img/menu/home-button.png) no-repeat center center;
}

@media all and (orientation:landscape) {
    li[data-goto='vert-magazine']{display:none;}
}
