#block_left, 
#block_right {
    position: relative;
    float: left;
}
#risk_of_osteo h1, 
#risk_of_osteo h2, 
#risk_of_osteo h3 {
    font-size: 27px;
    line-height: 23px;
    margin: 15px 0 15px 0;
    letter-spacing: -1px;
    margin-left: 55px;
    color: #58595B;
}
#risk_of_osteo h3 {
    font-size: 20px;
}
#slider_graph {
    width: 440px;
    height: 47px;
    float: left;
    margin-right: 16px;
    background: url("../../content/img/pain_is_complex/slider_bg.png") no-repeat;
    margin: 0 0 0 64px;
}
#osteo_slider_handle { 
    display: block; 
    width: 23px; 
    margin-top:19px;
    height: 27px; 
    z-index: 5; 
    background: url("../../content/img/pain_is_complex/polz.png") no-repeat; 
}
#risk_of_osteo_graph{
    position: relative;
    width: 490px; 
    height: 197px; 
    background: url("../../content/img/pain_is_complex/slider_graph.png") no-repeat;
    margin: 0px 0 0 25px;
}
#risk_of_osteo_graph div{
    margin-left: 49px; 
    height: 197px;
    background: url("../../content/img/pain_is_complex/slider_graph_for_open.png")0px 0px no-repeat;
    width:0;
    background-size: 409px 180px;
}
#gradient_slider {
    position: relative;
    left: 40px;
    width: 78px;
    height: 220px;
    margin:0 42px;
    float: left;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, #D30000), color-stop(0.50, #F1B32E), color-stop(1, #6DDB0C));
    background: -ms-linear-gradient(top, #D30000 0%,#F1B32E 50%,#6DDB0C 100%);
    background: linear-gradient( to bottom, #D30000 0%, #F1B32E 50%, #6DDB0C 100%);
    border-radius: 5px;
}
#gradient_slider div {
    width: 130px;
    height: 15px;
    background:url("../../content/img/pain_is_complex/slider_gradient_polz.png") no-repeat;
    -webkit-transform: translate(-20px,0);
    -moz-transform: translate(-20px,0);
    -ms-transform: translate(-20px,0);
    transform: translate(-20px,0);
}
#mineral_opacity_slider{
    position:relative;
    margin:0 20px;
    float: left;
}
#mineral_opacity_slider,
#mineral_opacity_slider div{
    height: 220px;
    width: 160px;
    background: url("../../content/img/pain_is_complex/Bones_mineral1.jpg") no-repeat;
    border-radius: 10px;
}
#mineral_opacity_slider div{
    background: url("../../content/img/pain_is_complex/Bones_mineral2.jpg") no-repeat;
}
#gradient_slider_text{
    float: left;
    margin:0 20px; 
    position: relative;
    color: #58595B;
}
#vertiacl_hr {  
    position: absolute; 
    height: 600px;  
    color: #58595B;  
    right: 495px;  
    border-right: 
    1px solid #E5E1DB;
}
#gradient_slider_text li {
    font-size: 16px;
    margin-top: 30px;
    min-width: 120px;
}
#opacity_slider_text{
    position: relative;
    clear: both;
    margin-left: 347px;
    font-size: 14px;
    bottom: 3px;
}
#colb_left,
#colb_right{
    width: 87px; 
    height: 355px;
    position: absolute; 
    top: 120px;
}
#colb_left {
    background: url("../../content/img/pain_is_complex/colb01.png") no-repeat; 
    left: 133px;
    top: 124px;
}
#colb_right{
    background: url("../../content/img/pain_is_complex/colb02.png") no-repeat; 
    left: 325px;
}
#colb_left div, 
#colb_right div {
    position: absolute;
    bottom: 187px;
    width: 64px;
    height: 10px;
    left: 14px;
    background: url("../../content/img/pain_is_complex/greenwater.png") repeat-y;
}
#colb_right div {
    background: url("../../content/img/pain_is_complex/yellowwater.png") -1px 0px repeat-y;
    width: 64px;
    left: 11px;
    bottom: 184px;
}
#colb_left span, 
#colb_right span{
    position: absolute;
    bottom: -20px;
    width: 200px;
    text-align: center;
    left: -53px;
}
#colb_right span{
    bottom: -24px;
}

#horizontal_hr {
    color: #58595B;
    width: 380px;
    position: absolute;
    top: 265px;
    z-index: -2;
    left: 80px;
}

@media all and (orientation:portrait) {
    #risk_of_osteo .basic{
        height:974px;
        width:768px;
    }
    #risk_of_osteo h1, 
    #risk_of_osteo h2, 
    #risk_of_osteo h3 {
        margin-top: 40px;
    }
    #colb_left span {
        bottom: -17px;
    }
    #risk_of_osteo h3 {
        position: absolute;
        top: 0;
        left: 475px;
        width: 203px;
        text-align: left;
    }
    #gradient_slider {
        position: absolute;
        left: 507px;
    }
    #gradient_slider_text {
        position: absolute;
        left: 628px;
    }
    #mineral_opacity_slider {
        position: absolute;
        top: 610px;
        left: 509px;
    }
    #opacity_slider_text{
        position: absolute;
        top: 800px;
        left: 189px;
        width: 150px;
    }
    #vertiacl_hr{
        display: none;
    }
    #mineral_opacity_slider {
        position: absolute;
        top: 568px;
        left: 509px;
    }
    #colb_right span{
        bottom: -22px;
    }
}
