/* INTRO SPLASHER */
#IN_objectives {
  margin:      0px;
  background-image:  url(../../content/img/backgrounds/blue-bg.jpg);
  background-repeat:no-repeat;
  height:      768px;
}

#IN_objectives .red-people{
  position:    absolute;
  left:        0;
  z-index:     2;
  top:         589px;
  background:  url(../../content/img/backgrounds/red-linepeople.png) no-repeat;
  height:      184px;
  width:       1024px;
}

#IN_objectives h2, h3, p, .footer {
  position: static;
  padding-bottom: 5px;
}
#IN_objectives h2 {
  font-size: 36px;
}

#IN_objectives h3 {
  font-size: 22px;
}

#IN_objectives p {
  font-size: 18px;
  width: 350px;
}

#IN_objectives .text {
  position: absolute;
  top:      500px;
  left:     590px;
  width:    740px;
  height:   110px;
}

#continue {
  position: relative;
  top:      660px;
  left:     400px;
}

#IN_objectives .footer {
margin-left: 19px;
  margin-top: 137px;
  color: #000;
  font-size: 11px;
  width: 321px;
  height: 37px;
}


/* OBJECTIVES DRAGAREA STYLING */
#objectives {
  /*margin-top:50px;*/
}

#objectives h2 {
  font-size: 34px;
  padding-top: 40px;
  margin-left: 35px;
  font-weight: 100;
}

#objectives .drag-area {
  left: 25px;
  top: 187px;
  height: 950px;
  width: 990px;
}

#objectives div.drag-obj .tip {
  position: absolute;
}


#Survival.default { top: 150px; left:20px; }
#Control_tumour_growth.default { top: 150px; left:350px; }
#Symptom_control.default { top: 150px; left:682px; }
#Quality_of_life.default { top: 244px; left:20px; }
#Tolerance.default { top: 244px; left:350px; }
#Treatment_adherence.default { top: 244px; left:682px; }
  
.tip.invisible {
  visibility: hidden;
}

#buttons, .tip{
  color: #851B98;
  font-size: 28px;
  line-height: 24px;
  position: absolute;
  z-index: 500;
}
#buttons {
  left: 355px;
  top: 362px;
}

#objectives .tip_button {
  border: 1px solid white;
  -webkit-border-radius: 10px;
  background: rgba(255, 255, 255, 0.898438);
  width: 310px;
  height: 48px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 0px 10px;
  text-align: center;
  vertical-align: middle;
  padding-top: 22px;
  position: absolute;
}

#objectives .tip_button:nth-child(1) { top: 0px; }
#objectives .tip_button:nth-child(2) { top: 96px; }
#objectives .tip_button:nth-child(3) { top: 192px; }

#objectives .tip {
  border: 1px solid white;
  -webkit-border-radius: 10px;
  background: rgba(255, 255, 255, 0.699219);
  width: 310px;
  height: 48px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 0px 10px;
  text-align: center;
  vertical-align: middle;
  padding-top: 22px;
  -webkit-transform:translate3d(0px,0px,0px);
}
