#side_effects{ 
    -webkit-transform: translate3d(0,0,0);
}

#side_effects h1 span {
    font-size: 30px; 
    top: 0px;
}

#side_effects h1 {
    line-height: 30px;
}

#side_effects h1 span {
    color: #069bda;
}

#side_effects .butul li {
    position: absolute;
    background: url("../../content/img/side_effects/blue_button.png")no-repeat;
    width: 495px;
    color: white;
    font-size: 27px;
    padding: 23px 45px 25px;
    z-index:3;
    -webkit-transition:0.4s ease-out;
}
#side_effects .butul .activeDrag {
    opacity:0.8;
    z-index:4;
    -webkit-transition:none;
}

#side_effects ul.butul li:nth-of-type(1),
#side_effects ul.butul li:nth-of-type(2),
#side_effects ul.butul li:nth-of-type(3),
#side_effects ul.butul li:nth-of-type(4){
    top:75px;
}

#side_effects .basic div:nth-of-type(1){
    width: 860px;
    height: 436px;
    position: absolute;
    top: 205px;
    left: 80px;
}

#side_effects ul {
    position: absolute;
    list-style: none;
}

#side_effects ul.butul {
    width: 520px;
    height: 400px;
    float: left;
    top: -35px;
    left: 98px;
}
#side_effects ul.numbul {
    width: 85px;
    height: 400px;
    float: left;
    top: 40px;
    left: 25px;
}

#side_effects .numbul li{
    background: url("../../content/img/side_effects/blue_number.png")no-repeat;
    width: 83px;
    color: white;
    font-size: 52px;
    padding: 10px 0 15px 25px;
}

#side_effects .butul li {
    position: absolute;
    background: url("../../content/img/side_effects/blue_button.png")no-repeat;
    width: 495px;
    color: white;
    font-size: 27px;
    padding: 23px 45px 25px;
    z-index:3;
    -webkit-transition:0.4s ease-out;
}

@media all and (orientation:landscape) {
    #side_effects h3 {
        margin-left: 492px;
        line-height: 18px;
        right: 10px!important;
        font-size: 15px;
        bottom: 255px;
        text-align: left;
        color: #8e8e8e;
        position: absolute;
        left: 123px;
    }
}

@media all and (orientation:portrait) {
    #side_effects h1 br { 
        display: none; 
    }
    #side_effects h1 {
        width: 698px;
    }

    #side_effects h3 {
        line-height: 18px;
        right: 10px!important;
        font-size: 15px;
        bottom: -120px;
        text-align: left;
        color: #8e8e8e;
        position: absolute;
        left: 100px;
    }
}