#treatment_adherence{
    -webkit-transform: translate3d(0,0,0); 
}

#treatment_adherence .leftrect,
#treatment_adherence .centerrect,
#treatment_adherence .downrect,
#treatment_adherence .rightrect{
	position: absolute; 
	border:  1px solid #47aadb; 
	box-shadow: 1px 1px 5px 1px #999, inset 1px 1px 2px 2px #7cc6eb;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
}

#treatment_adherence .active .leftrect{
    opacity:1;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
}

#treatment_adherence .active .centerrect{
    opacity:1;
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -ms-transition-delay: 2s;
    transition-delay: 2s;
}

#treatment_adherence .active .downrect{
    opacity:1;
    -webkit-transition-delay: 3s;
    -moz-transition-delay: 3s;
    -ms-transition-delay: 3s;
    transition-delay: 3s;
}

#treatment_adherence .active .rightrect{
    opacity:1;
    -webkit-transition-delay: 4s;
    -moz-transition-delay: 4s;
    -ms-transition-delay: 4s;
    transition-delay: 4s;
}

#treatment_adherence .leftrect, 
#treatment_adherence .rightrect{
	padding-top: 20px; 
	padding-bottom:20px;
	color: white; 
	font-size: 25px; 
	text-align: center; 
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #2C9ED7),color-stop(1, #6FC0E9));
	background: -ms-linear-gradient(top, #2c9ed7 0%,#6fc0e9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2c9ed7 0%,#6fc0e9 100%);
	width: 193px; 
	top: 190px; 
	left: 50px;
}

#treatment_adherence .rightrect {
	left: 780px;
}

#treatment_adherence .centerrect{
	background: url("../../content/img/treatment_adherence/lgraph-1.png"); 
	width: 432px; 
	height: 355px; 
	top:83px; 
	left:297px;
}

#treatment_adherence .downrect{
	font-size: 22px; 
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.01, #E7E9E9),color-stop(1, #FFFFFF));
	background: -ms-linear-gradient(top, #e7e9e9 1%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e7e9e9 1%,#ffffff 100%);
	color: #666; 
	top: 465px;
	left: 295px;
	width: 276px; 
	height: 92px; 
	padding: 20px 130px 0 30px;
}

#treatment_adherence .downrect .bluewords{
	color: #2ca0da;
}

#treatment_adherence .popup-button{
	background: url("../../content/img/treatment_adherence/markerCircle.png") no-repeat; 
	width: 66px; 
	height: 66px; 
	position: absolute;
	top: 23px; 
	left: 347px;
}

#treatment_adherence .space200{
	word-spacing: 200px;
}

@media all and (orientation:portrait) {

	#treatment_adherence h1 { 
		margin-top: 15px;
	}

	#treatment_adherence .leftrect,
	#treatment_adherence .rightrect {
		width: 726px;
		top: 105px; 
		left: 20px; 
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#treatment_adherence .centerrect{
		background: url("../../content/img/treatment_adherence/graph-1.png"); 
		width: 330px; 
		height: 414px; 
		top:214px; 
		left:19px;
	}

	#treatment_adherence .downrect{
		top: 214px; 
		left: 424px; 
		width: 278px; 
		height: 275px;
		padding: 140px 0 0 44px;
		font-size: 25px;
	}

	#treatment_adherence .popup-button{
		top: 327px; 
		left: 247px;
	}

	#treatment_adherence .rightrect{
		text-align:center;
		top: 669px; 
	}

	#treatment_adherence .space200{
		word-spacing:initial;
	}

	#treatment_adherence footer {
		left: 20px;
	}
}