#types_of_pain h2{
    margin-top: 12px;
    margin-left: 53px;
    width: 520px;
    line-height: 23px;
}
#types_of_pain .popups {
    position: absolute; 
    top: 170px; 
    left: 50px;
}
#types_of_pain .popups .popup {
    width: 254px; 
    height: 410px; 
    padding: 11px 4px; 
    position: absolute; 
    top: 0px; 
    left: 0; 
    border: 1px solid #9e508a; 
    background-image: -webkit-gradient(linear, 50% top, 50% bottom, color-stop(0.11, #FFFEFF), color-stop(0.56, #D0D4D4)); 
    background-image: -ms-linear-gradient(top, #FFFEFF 11%, #D0D4D4 56%); 
    background-image: linear-gradient(to bottom, #FFFEFF 11%, #D0D4D4 56%); 
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.5); 
    z-index: 4; 
    opacity: 0; 
    -webkit-transition: 1s; 
    -moz-transition: 1s; 
    -ms-transition: 1s; 
    transition: 1s; 
    pointer-events: none; 
}
#types_of_pain .popups .popup h3 {
    font-size: 24px; 
    color: #9e508a; 
    text-align: center;
    position: static; 
    bottom: auto; 
    left: auto;
}
#types_of_pain .popups .popup div {
    font-size: 18px; 
    color: #333333; 
    text-align: center;
}
#types_of_pain .popups .popup header {
    display: block;
}
#types_of_pain .popups .popup .pain {
    background: url("../../content/img/types_of_pain/pains.jpg") no-repeat; 
    width: 245px; 
    border: 1px solid #aeaeae; 
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4); 
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.4); 
    -ms-box-shadow: 0 2px 4px rgba(0,0,0,0.4); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.4); 
    display: block; 
    margin: 0 auto;
}
#types_of_pain .popups .popup:nth-child(1) .pain {
    height: 255px; 
    margin: 20px auto 20px auto;
}
#types_of_pain .popups .popup:nth-child(2) .pain {
    height: 279px; 
    background-position: 0 -255px; 
    margin: 20px auto 20px auto;
}
#types_of_pain .popups .popup:nth-child(3) .pain {
    height: 281px;
    background-position: 0 -534px;
    margin: 20px auto 20px auto;
}
#types_of_pain .popups .popup.open {
    opacity: 1; 
    pointer-events: auto;
}
#types_of_pain #human_back {
    position: relative;
}
#types_of_pain #human_back div {
    background: url("../../content/img/types_of_pain/pain_signals.png") no-repeat; 
    position: absolute; 
    opacity: 0;
}
#types_of_pain #human_back div:nth-child(1) {
    width: 48px;
    height: 48px;
    background-position: -56px -125px;
    bottom: 72px;
    left: 77px;
}
#types_of_pain #human_back div:nth-child(2) {
    width: 56px; 
    height: 59px; 
    background-position: 0 -125px; 
    bottom: 192px; 
    left: 66px;
}
#types_of_pain #human_back div:nth-child(3) {
    width: 151px; 
    height: 125px; 
    bottom: 280px; 
    left: 45px;
}
#types_of_pain #human_back div.open {
    opacity: 1;
}
#types_of_pain ul li span{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
#human_back{
    float: right;
    margin-right: 199px;
    margin-top: -49px;
    background: url("../../content/img/types_of_pain/man.png") no-repeat;
    width: 240px;
    height: 552px;
}
#types_of_pain ul{
    margin-top: 100px;
    margin-left: 55px;
    float: left;
    list-style: none;
    width: 500px;
}

#types_of_pain ul li{
    font-size: 20px;
    margin-bottom: 65px;
    padding-bottom: 3px;
    color: #58595B;
    opacity:0;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

#types_of_pain .show .nocic-pain{
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
    opacity:1;
}
#types_of_pain .show .mixed-pain{
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -ms-transition-delay: 2s;
    transition-delay: 2s;
    opacity:1;   
}
#types_of_pain .show .neuro-pain{
    -webkit-transition-delay: 3s;
    -moz-transition-delay: 3s;
    -ms-transition-delay: 3s;
    transition-delay: 3s;
    opacity:1;
}

@media all and (orientation:portrait) {
    #types_of_pain .popups .popup{
        top: 50px;
    }
    #types_of_pain h2{
        margin-top: 18px;
        margin-left: 50px;
        width: 470px;
        line-height: 23px;
    }
    #types_of_pain ul {
        margin-top: 135px;
        margin-left: 55px;
        width: 450px;
    }
    #human_back {
        float: right;
        margin-right: 63px;
        margin-top: -318px;
        background: url("../../content/img/types_of_pain/man.png") no-repeat;
        width: 240px;
        height: 552px;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
}