#expertsinhaem_first {
    background-color: #CCC;
    position: relative;
}

#expertsinhaem_first {
 /*   background: url('../../content/img/introduction/bg.png') top left no-repeat; */
    background-color: #69AEB3;
    background-size: 1024px 714px;

}

#expertsinhaem_first h1 {
font-size: 55px;
color: #FFF;
position: relative;
top: 89px;
left: 106px;
}

#expertsinhaem_first p {
    position: relative;
    font-size: 24px;
    line-height: 25px;	
}

#expertsinhaem_first p:nth-child(3) {
    left: 500px;
    width: 400px;
    top: 140px;
}

#expertsinhaem_first p:nth-child(4) {
    left: 500px;
    width: 400px;
    top: 160px;
}

#expertsinhaem_first p:nth-child(5) {
    left: 500px;
    width: 400px;
    top: 182px;
}

#expertsinhaem_first #text {
    width: 850px;
    position: relative;
    top: 106px;
    left: 35px;  
}

#expertsinhaem_first #loadWindow {
width: 70px;
    height: 70px;
    position: absolute;
    top: 89px;
    right: 151px;
    z-index: 202;
}

#expertsinhaem_first #info_window {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 210;
display: none;
background: url('../../content/img/expertsinhaem/window.png') bottom center no-repeat #333;
background-size: 898px 656px;
}