#hcp_first{
	background:url('../../content/img/hcp_first/bg.png') top left no-repeat;
background-size:1024px 714px;
position:relative;
}
#hcp_first #one{
	position:absolute;
	top:475px;
left:170px;
}
#hcp_first #two{
	position:absolute;
	top:475px;
left:356px;
}
#hcp_first #three{
	position:absolute;
	top:475px;
left:550px;
}
#hcp_first #four{
	position:absolute;
	top:475px;
left:725px;
}
#hcp_first .btn{
	transition: opacity .25s ease-in;
	opacity: 0;
}
#hcp_first .active{opacity: 1;}
