    #intro .basic {
        background: url("../../content/img/intro/bg.png") 0 0 no-repeat; 
        background-size: 1024px 768px;
        top: 0px;
    }
    #intro .frontpage-list{
        top: 390px;
        left: 50px;
        width: 255px;
    }
    #intro .frontpage-list li:nth-of-type(1){
        width: 244px;
        padding-bottom: 20px;
    }
