@import url("_framework/styles/reset.css");
@import url("_framework/styles/slideshow.css");
@import url("_framework/styles/core.css");

@import url("modules/loader/loader.css");
@import url("modules/slide-popup/slide-popup.css");
@import url("modules/thumbnails/thumbnails.css");
@import url("modules/slide-overview/slide_overview.css");
@import url("code/css/references.css");
@import url("code/css/video-js.css");

@import url("code/css/global.css");
@import url("code/css/slideshow.css");
@import url("code/css/menu.css");
@import url("code/css/intro.css");
@import url("code/css/send_references.css");
@import url("code/css/risk_of_osteo.css");
@import url("code/css/pain_therapy.css");
@import url("code/css/unique_mechanism_video.css");
@import url("code/css/convenience.css");
@import url("code/css/blue_urine.css");
@import url("code/css/mode_of_action.css");
@import url("code/css/burping_effect.css");
@import url("code/css/treatment_adherence.css");
@import url("code/css/side_effects.css");
@import url("code/css/studies.css");
@import url("code/css/calculator.css");
@import url("code/css/send_shopping_cart.css");
@import url("code/css/next_topic.css");
@import url("code/css/questions.css");
@import url("code/css/quality_of_life.css");
@import url("code/css/types_of_pain.css");

#inline, #inline2 {
	height:768px;
	width:1024px;
	position: absolute;
	top:-140px;
	left:-250px;
	overflow: hidden;
	-webkit-transform:scale(0.5, 0.5);
}
#inline2 {
	position: absolute;
	left:270px;
}

@media all and (-ms-high-contrast: none) {
	.menu li { float: left; }
}
