.slide-popup {
  background-color:#fff;
  position:absolute;
  top:50px;
  opacity:0;
  -webkit-transition:opacity 1s;
}

.slide-popup.displaying {
  opacity:1;
}
.slide-popup.displaying {
  margin:0;
  overflow:hidden;
}
